<!-- app/views/home/about.html.erb -->
<div class="container mt-5">
  <h1 class="text-center mb-4">Sobre Nosotros</h1>

  <div class="row">
      <h3 class="text-center">Jaka'ay'u</h3>
      <p class="text-center">Somos una microempresa familiar que se dedica a mezclar la tradición y la cultura, de</p> <p class="text-center">manera artesanal y con mucho amor. En cada uno de nuestros productos se refleja el</p><p class="text-center"> esfuerzo y la pasión de nuestra familia para ofrecer lo mejor a nuestros clientes.</p>
      <p class="text-center">Agradecemos profundamente tu preferencia y apoyo. Cada compra que realizas nos </p> <p class="text-center">acerca a nuestra misión de preservar nuestras tradiciones y compartirlas con el mundo.</p>
    </div>

    <!-- Imagen entre las dos secciones -->
    <div class="col-12 my-4">
      <img src="<%= asset_path('WhatsApp Image 2024-11-18 at 00.34.58.jpeg') %>" alt="Imagen de Jaka'ay'u" class="img-fluid w-100 rounded">
    </div>

    <div class="col-md-6">
      <h3 class="text-center">La Familia González Martínez</h3>
      <p class="text-center">Somos la Familia González Martínez, quienes con mucho cariño y dedicación nos encargamos de que cada producto tenga el sello único de nuestra artesanía. Nuestra historia está llena de valores familiares y compromiso con la cultura local, y te invitamos a ser parte de ella.</p>
      <p class="text-center"><strong>¡Gracias por tu preferencia!</strong></p>
    </div>
  </div>
</div>


