<!-- app/views/carts/complete.html.erb -->
<div class="thank-you-container">
  <h2>¡Gracias por su compra!</h2>
  <p>Su recibo será enviado al correo electrónico que proporcionó.</p>

  <!-- Botón para volver al inicio -->
  <%= link_to 'Volver al Inicio', root_path, class: 'btn btn-primary' %>
</div>


